@import 'base/variables';  
@import 'base/mixins';   

html {
  font-size: 14px!important;
}


body {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: greyscale; 
}

.no-shadows {
    box-shadow: none!important;
}

button, input, optgroup, select, textarea { font-family: $primary-font!important; }

.ss-btn, .button, .form-submit input.submit { background: $primary-color!important; color: #fff!important; border-radius: 0!important; font-weight: normal!important; text-transform: uppercase; font-family: $primary-font; padding: 0.6em 1em!important; border: 1px solid $primary-color!important; @include animate( background, 320ms ); cursor: pointer;
  span.ss-icon { margin-right: 8px; 
    &:before { font-size: 16px; vertical-align: middle; bottom: 2px; position: relative; }
  }
  &:hover, &:focus {
    background: #fff!important;
    color: $primary-color!important;
    border: 1px solid $primary-color!important;
  }
}

.ss-btn-alt { background: #fff!important; color: $primary-color!important; text-transform: uppercase; border-radius: 0!important;  font-family: $primary-font; padding: 0.7em 1em!important; border: 1px solid #fff!important; @include animate( background, 320ms ); cursor: pointer; 
  &:hover, &:focus {
    background: $primary-color!important;
    color: #fff!important;
    border: 1px solid #fff!important;
  }
}

a { color: $primary-color!important; @include animate( color, 320ms ); }

i { @include animate( color, 320ms ); }

.amount { color: $primary-color; font-weight: 700; font-family: "Poppins",sans-serif; }


form {
  ::placeholder { color: $primary-color; }
  textarea { border: 1px solid #e4e1e3; resize: none; }
  input[type="text"], input[type="email"] { border: 1px solid #9e9e9e!important; }
}

table, form {
  label { color: $primary-color; text-transform: uppercase; }
  select { 
    -webkit-appearance: none;
    -mos-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }
}

h2:not(.woocommerce-loop-product__title) { font-size: 20px; font-weight: 700; text-transform: uppercase; }

.overlay { position: absolute; top: 0; width: 100%; height: 100%; display: block; background-color: rgba(0,0,0,0.2); @include animate( opacity, 320ms ); }

    .form-control-msg { display: none; }

    .form-control-msg { text-transform: uppercase; font-weight: 500; font-size: 11px; }

    .has-error {
        .form-control-msg { display: block; float: left; color: red; }
    }

    .js-show-feedback { display: block; }

    .ss-form-control { background: transparent; resize: vertical; border: none; border-radius: 0; padding: 8px 15px; outline: none; box-shadow: none !important; -webkit-box-shadow: none !important;
        &::-webkit-input-placeholder { text-transform: uppercase; }
        &::-moz-placeholder { text-transform: uppercase; }
        &:-ms-placeholder { text-transform: uppercase; }
        &:-moz-placeholder { text-transform: uppercase; }
        &:hover { box-shadow: none; }
        &:focus,
        &:active { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.075),0 0 5px rgba(58, 70, 80, 0.6) !important;
            box-shadow: inset 0 0 1px rgba(0,0,0,0.075),0 0 5px rgba(67, 80, 90, 0.6) !important; }
    }

/*
	Header
	------------------------------------------------
*/ 
nav {
  &.upper-nav { height: 32px; line-height: 32px; background-color: $secondary-color;
    .left-upper {
      a { cursor: auto; padding: 0 8px; font-size: 14px; }
      i { display: inline; vertical-align: middle; padding-right: 5px; height: 32px; line-height: 32px; font-size: 18px; }
      li:first-child {
        a { padding-left: 0; }
      }
    }
    .right {
      i { font-size: 18px; height: 32px; line-height: 32px; }
      a { padding: 0 8px;
        &:hover,
        &:focus {
          color: #fff!important;
        }
      }
      li:last-child {
        a { padding-right: 0; }
      }
    }
  }
  &.lower-nav {
    .nav-wrapper {
      .main-nav, .alt-nav, .alt-nav-2 { 
        > .row { margin-bottom: 0; }
        .brand-container { height: 155px; line-height: 190px;
          .brand-logo { font-family: 'Dancing Script', cursive; font-size: 100px; color: $primary-color; }
        }
        .brand-description { line-height: 40px; margin-bottom: 20px; color: $primary-color; 
          p { margin: 0; }
        }
        .nav-center { border-top: 2px solid black; text-align: center; position: absolute; left: 0; right: 0;
          li { display: inline; float: none; text-transform: uppercase; 
            a { display: inline-block; font-family: $primary-font; font-weight: 700; font-size: 14px; 
              &:hover,
              &:focus {
                color: $secondary-color!important;
              }
            }
          }
          .dropdown-content { text-align: left;
            li { 
              &:hover { background: none; }
              a { width: 100%; }
            }
          }
        }
        .right-lower, .right { position: relative; 
          li.search {
            a { padding: 0px 8px; 
              i { 
                &:hover,
                &:focus {
                  color: $secondary-color!important;
                }
              }
            }
          }
          li.current-cart { line-height: 0;
            > a { padding: 0 0 0 8px; 
              i { 
                &:hover,
                &:focus {
                  color: $secondary-color!important;
                }
              }
            }
            i, .header-cart-count { display: inline-block; }
            .header-cart-count { display: inline-block; border-radius: 50%; background-color: #FF0000; color: #fff; font-size: 9px; font-weight: 700; position: absolute; top: 10px; right: -8px; min-width: 18px; height: 18px; padding: 0 1px; text-align: center; line-height: 20px; }
          }
          .dropdown-content { overflow: visible; 
            &.dropdown-search { width: 200px; left: -148.8px!important; 
              &.scroll-search { left: -156.8px!important; }
              @media only screen and (max-width: 992px) { 
                left: -116.8px!important;
              }
            }
            &.dropdown-cart { width: 300px; left: -194.8px !important;
              &.scroll-cart { left: -212.8px!important; }
              @media only screen and (max-width: 992px) { 
                left: -115.8px!important;
                width: 245px;
              }
            }
            li { min-height: 0; }
            .nav-search {
              form {
                label { left: 12px; font-size: 14px; }
                input[type="text"] { background: url("../img/icons/search.svg") no-repeat 100% center; margin: 0; border: none!important;}
                input[type="submit"] { display: none; }
              }
            }
          }
          .dropdown-cart {
            li.nav-cart { padding: 10px 15px 5px;
              
            }
          }
          
          .arrow_box {
            background: #fff;
            border: 1px solid #4e4e4e;
            height: auto!important;
        }
        .arrow_box:after, .arrow_box:before {
            bottom: 100%;
            left: 85%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .arrow_box:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 15px;

            margin-left: -15px;
        }
        .arrow_box:before {
            border-color: rgba(78, 78, 78, 0);
            border-bottom-color: #4e4e4e;
            border-width: 16px;
            margin-left: -16px;
        }
    
        } 
      }
    }
  }
}
nav.scroll-nav { position: fixed; display: block; opacity: 0; background-color: $primary-color; height: 60px; line-height: 60px; z-index: 99999; top: -410px; transition-duration: 1s;
  &.content-appear { opacity: 1; transition-duration: 1s; top: 0; left: 0; }
  .nav-wrapper { min-height: 50px!important;
    .nav-center { text-align: right!important; right: 85px!important;
      li {
        a { color: #fff!important; padding: 0 12px!important; }
      }
      &:after {
        content: "";
        display: inline-block;
        background: #fff;
        height: 23px;
        width: 2px;
        position: absolute;
        top: 29%;
        bottom: 0;
        margin-left: 12px;
      }
    }
    .right {
      a { color: #fff!important; margin: 0;
        }
      li {
        &.search {
          a.dropdown-trigger { padding: 0!important;
            i { font-size: 22px!important; height: 60px; line-height: 60px; }
          }
        }
        &.current-cart {
          a.cart-trigger {
            i { font-size: 22px!important; height: 60px; line-height: 60px;  }
          }
        }
      }   
    }
    .left {
      .brand-container { height: 52px; line-height: 52px;
        a { color: #fff!important; font-size: 48px!important; }
      }
    }
  }
}





/*
	Footer
	------------------------------------------------
*/ 
footer { color: $primary-color;
  .footer-upper { background-color: $secondary-color; }
  .row { margin-bottom: 0; }
  .right {
    ul { margin: 0;
      li { display: inline;
        a { cursor: default;
          font-size: 40px; 
          i {
            &:hover,
            &:focus {
              color: unset!important;
            }
          }
        }
      }
    }
  }
  a { 
    &:hover,
    &:focus {
      color: #fff!important;
    }
    i { 
      &:hover,
      &:focus {
        color: #fff!important;
      }
    }
  }
  input[type="submit"] { @include animate( background-color, 320ms ); border: 1px solid $primary-color!important; background-color: $primary-color!important; cursor: pointer;
    &:hover,
    &:focus {
      background-color: #fff!important;
      border: 1px solid $primary-color;
      color: $primary-color;
    }
  }
  input[type="text"], input[type="email"] {
    &:focus {
      background-color: #fff!important;
    }
  }
}


/*
	Front Page
	------------------------------------------------
*/ 
.home {
  section {
    
    //FRONT PAGE CAROUSEL
    &#landing {
      .slides {
        li {
          img { }
          .landing-content-wrap {
            .caption { 
              p {}
              h3 { font-weight: 700; text-transform: uppercase; margin-top: 0; }
              a.ss-btn-alt, a.ss-btn { font-weight: 700!important; padding: 0.5em 2.7em!important; font-size: 16px; }
            }
          }
        }
      }
    }
    //UNDER CAROSEL SECTION
    &.landing-info {
      .info-wrap { display: flex;
        .info { text-align: center; 
          h5 { margin: 0; font-weight: 700; text-transform: uppercase; }
        }
      }
    }
    
    //FRONT PAGE CATEGORIES
    &.landing-categories { 
      .categories-grid { 
        .landing-category { position: relative; overflow: hidden; 
          a.cat-link { 
            .landing-cat-bg { position: relative; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat;
              display: flex; flex-direction: column; justify-content: center; align-items: center;
              span.cat-name { text-align: center; margin: 0; color: $primary-color; 
                background-color: #fff; text-transform: uppercase; font-size: 16px; padding: 0.8em 2.5em; font-weight: 700; z-index: 1; }
              .overlay { opacity: 0; }
            }

            &:hover,
            &:focus {
              .landing-cat-bg {
                .overlay { opacity: 1; }
              }
            }
          }
        }
      }
    }
    &.landing-banner { 
      .hori-banner { position: relative; display: flex; background-image: url('../img/info-direct/front-banner.jpeg'); background-size: cover; background-position: center 65%; flex-wrap: wrap; 
        .banner-text { z-index: 1;
          p { color: #fff; }
        }
        .banner-links { z-index: 1;
          .ss-btn-alt:first-of-type { margin-right: 10px; }
          .ss-btn, .ss-btn-alt { padding: 0.65em 2em !important; cursor: pointer; }
        }
      }
    }
    //NEW ARRIVALS SECTION
    &.landing-new { 
      .new-arrivals-header { display: flex; margin-bottom: 5px; justify-content: space-between;
        div.new-info {
          h3 { margin: 0; text-transform: uppercase; font-weight: 700; font-size: 20px; }
          p { font-size: 14px; opacity: 0.5; margin: 8px 0; }
        }
        div.view-products-link {
          a { text-transform: uppercase; font-weight: 700; font-size: 14px;
            &:hover,
            &:focus {
              color: $secondary-color!important; 
            }
            i { vertical-align: text-bottom; margin-right: 5px; font-size: 20px; }
          }
        }
      }
      .new-arrivals  {
        .woocommerce { height: inherit;
          ul.products { 
            li:first-child { clear: both; }
            li:last-child { margin-right: 0; }
//          display: flex;
//          flex-wrap: wrap;
//          justify-content: space-around!important;
//            &:before { display: none; }             
//            &:after { display: none; }
            li.product {

              a { 
                div.product-image { position: relative; min-height: 90px; border: none; width: 100%; padding: 0; display: block; margin-bottom: 10px;
                  .overlay { opacity: 0; }
                  i { display: none; position: absolute; bottom: 0; font-size: 65px; color: #eee; left: 0; right: 0; top: 40%; z-index: 1; }
                  &:hover {
                    .overlay { opacity: 1; }
                    i { display: block; }
                  }

                }
                .star-rating { margin: auto; }
                .price {
                  .amount { font-size: 16px; }
                }
              }
              button { margin-top: 0.5em!important; margin-bottom: 1em; font-size: 14px; border: 1px solid $primary-color; }
              a.added_to_cart { display: none;}
              }
            }
          }
        }
      }
      //LATEST POSTS
      &.landing-blog {
        .blog-container {
          h3 { text-transform: uppercase; font-weight: 700; font-size: 20px; }
          ul.blog-items { display: flex; 
            li.blog-item { display: flex;
              div.item-img { 
                a {
                  img { width: 100%; height: auto; }
                }
              }
              div.item-content {
                .post-date { display: block; opacity: 0.4; }
                .post-title { text-transform: uppercase; font-weight: 700; font-size: 16px; @include animate( color, 320ms ); 
                  &:hover,
                  &:focus {
                    color: $secondary-color!important; 
                  }
                }
                .post-excerpt { margin: 5px 0; font-size: 12px; }
              }
            }
          }
        }
      }
    }
  }

/*
	Generic Page
	------------------------------------------------
*/
.page, .post-type-archive-product, .tax-product_cat, .tax-product_tag {
  .page-section-1 {
    div.page-banner { position: relative; background-size: cover; background-repeat: no-repeat;
      .banner-content { text-align: left; color: #fff;
        h3 { text-transform: uppercase; font-weight: 700; margin-bottom: 0; }
        p { margin-top: 5px; }
      }
    }
  }
}

/*
	About Page Template
	------------------------------------------------
*/
.page-template-page-about-template {
  .page-section-2 { padding: 25px 0px;
    div.about-info {
      h2 { font-size: 28px; } 
    }
    div.about-img {}
  }
  .page-section-3 {
    .info-container {
      h3 { font-size: 20px; text-transform: uppercase; font-weight: 700; }
    }
  }
  .page-section-4 { margin: 50px 0 80px 0;
    .our-team {
      h2 { text-align: center; margin: 0 0 45px 0; font-size: 28px; }
      .team { background-color: $primary-color; 
        .team-img { height: 400px; background-size: cover; }
        .team-info { text-align: center; color: #fff; padding: 15px 0 50px 0;
          h3 { font-size: 18px; font-weight: 700; text-transform: uppercase; margin: 15px 0 0 0; }
          h4 { font-size: 18px; margin: 10px 0 0 0; }
        }
      }
    }
  }
  .section-banner {
    .hori-banner { height: 250px; position: relative;  background-image: url('../img/info-direct/about-banner.jpg'); background-size: cover; background-position: center 15%; display: flex; justify-content: center; align-items: center;
      .banner-wrap { z-index: 1; position: relative; width: 30%; text-align: center;
        .banner-text { margin-bottom: 40px;
        p { color: #fff; margin: 0; }
      }
      .ss-btn-alt { padding: 0.65em 2em !important; font-weight: 700; }   
      }
    }
  }
}

/*
	Contact Page Template
	------------------------------------------------
*/
.page-template-page-contact-template {
  .page-section-2 { padding: 25px 0px;
    .contact-wrap {
      h2 { text-align: center; font-size: 28px; margin-bottom: 35px; }
      div.faq {
        h2 { font-size: 20px; text-align: left; text-transform: uppercase; margin-top: 16px; margin-bottom: 1.424rem;}
        ul.collapsible { border-top: 2px solid #454545; border-right: 0; border-left: 0; border-bottom: 0; padding-top: 15px;
          li { 
            .collapsible-header { justify-content: space-between; align-items: center; padding-left: 0; padding-right: 0; font-weight: 700; 
              span { font-size: 30px; }
            }
          }
        }
        
      }
      div.contact-info {
        ul { margin-bottom: 25px; font-size: 14px; 
          li { font-weight: 700; margin-bottom: 12px;
            i { vertical-align: bottom; font-size: 22px; margin-right: 2px; float: left; }
          }
        }
        
      }
      div.contact-form {
        form {
          .input-field { margin-top: 0; margin-bottom: 15px; 
            &.input-field:first-child { padding-left: 0; }
            &.input-field:nth-child(3) { padding: 0; }
            input, textarea { padding-left: 10px; border: 1px solid #e4e1e3!important; }
            textarea { height: 250px; padding-top: 12px; }
          }
          button { float: right; width: 20%; }
          
        }
      }
    } 
  }
  .page-section-3 {
    .info-container {
      h3 { font-size: 20px; text-transform: uppercase; font-weight: 700; }
    }
  }
}



/*
	Blog Roll/Archive Pages
	------------------------------------------------
*/ 
.blog, .search, .archive, .single-post {
  .ss-blog-content { margin-top: 50px; margin-bottom: 45px;
    div.roll-container { padding: 0; 
      .no-search {
        h1 { font-size: 24px; margin-top: 0; }
        h4 { font-size: 16px; }
      }
    }
    #archive-sidebar { padding: 0; }
  }
  
}

/*
	404 Page
	------------------------------------------------
*/
.error404 {
  section.not-found { margin: 80px 0 180px 0;
    .error-content { text-align: center; 
      .error-title { font-size: 130px; font-weight: 700; margin-bottom: 0; }
      .error-search { margin: 40px auto; max-width: 350px;
        form {
          .input-field { display: inline-block; }
          label { left: 12px; }
          input[type="text"] { background: url("../img/icons/search.svg") no-repeat 100% center; padding-left: 12px; }
          input[type="submit"] { display: none; }
        }
      }
    }
  }
}

/*
    Newsletter Form
	------------------------------------------------
*/ 
@keyframes appear-nicely {

	0% {
		opacity: 0;

	}

	100% {
		opacity: 1;
	}
}

.appear-nicely {
	animation: appear-nicely 2s forwards ease-out;
}

#wolontariat  #newsletter-form {
	background-color: #24282d;
	padding: 32px 40px;
	margin-left: -40px;
	box-sizing: content-box;
	width: 100%;
	color: White;
	text-align: center;
	position: relative;
}
#wolontariat  #newsletter-form > div {
	max-width: 1000px;
	margin: 0 auto;
}
#wolontariat  #newsletter-form h1 {
	color: White;
}
#wolontariat  #newsletter-form .widget {
	float: none;
	width: 100%;
	display: inline-block;
	margin: 0 0;
	padding: 16px;
	box-sizing: border-box;
	vertical-align: middle;
}
#wolontariat  #newsletter-form .widget p img {
	vertical-align: middle;
}
#wolontariat  #newsletter-form .widget .disclaimer {
	padding: 0 0;
	margin: 10px 0 0 0;
	font-size: .625rem;
}
#wolontariat  #newsletter-form .email-submit {
	min-width: 100%;
	margin-top: 16px;
}


@keyframes vaporize {
	0% {
		opacity: 1;

	}
	100% {
		opacity: 0;
		top: -80px;
	}
}

#wolontariat  #newsletter-form .notification[aria-hidden="true"] {
	display: none;
}

#wolontariat  #newsletter-form .notification[aria-hidden="false"] {
	display: block;
	position: absolute;
	top: -25px;
	left: 0px;
}

.vaporize {
	animation: vaporize 1.5s forwards ease-out;
}