@import 'variables';
@import 'mixins';

.ss-sidebar {
	font-family: $primary-font;
	.widget-area {
		section.ss-widget {
			.ss-widget-title {
				font-weight: 700;
				font-size: 18px;
				text-transform: uppercase;
				border-bottom: 1.5px solid black;
				padding-bottom: 8px;
				margin-bottom: 12px;
			}
			ul,
			form {
				margin-left: 1rem;
				li {
					margin-bottom: 10px;
				}
			}
			form {
				margin-top: 2rem;
			}
			a {
				color: $primary-color;
				&:hover,
				&:focus {
					color: $secondary-color !important;
				}
			}

			//SEARCH WIDGET
			&.widget_search {
				form {
					margin-left: 0;
					margin-top: 0 !important;
					.input-field {
						padding: 0 !important;
						display: inline-block;
						margin: 0 !important;
						@media only screen and (max-width: 992px) {
							margin: 0 !important;
							padding: 0 12px 0 0 !important;
							display: block !important;
						}
					}
					label {
						left: 12px;
					}
					input[type='text'] {
						background: url('../img/icons/search.svg') no-repeat 100% center;
						padding-left: 10px;
					}
					input[type='submit'] {
						display: none;
					}
				}
			}
			//TAG CLOUD WIDGET
			&.widget_tag_cloud {
				div.tagcloud {
					margin-left: 1rem;
					a {
						color: #fff !important;
						background: $primary-color;
						text-align: center;
						overflow: hidden;
						padding: 4px 8px;
						font-size: 12px !important;
						text-decoration: none;
						display: inline-block;
						float: left;
						margin: 0 8px 8px 0;
						text-transform: uppercase;
						border: 1px solid $primary-color;
						@include animate(background, 320ms);
						&:hover,
						&:focus {
							color: $primary-color !important;
							background: #fff;
						}
					}
				}
			}

			//PRODUCT CATEGORIES WIDGET
			&.widget_product_categories {
				ul.product-categories {
					li.cat-parent {
						.sub-toggle {
							cursor: pointer;
							i {
								-webkit-transform: rotate(-90deg);
								transform: rotate(-90deg);
								transition: all 0.4s ease;
							}
						}
						.sub-open {
							i {
								-webkit-transform: rotate(0deg);
								transform: rotate(0deg);
							}
						}
						.sub-open + ul {
							max-height: 150px !important;
						}
						ul.children {
							max-height: 0;
							overflow: hidden;
							transition: all 0.6s ease;
							li {
								margin-bottom: 3px;
								margin-top: 3px;
							}
						}
					}
				}
			}
			//PRODUCT PRICE FILTER WIDGET
			&.widget_price_filter {
				form {
					.price_slider_wrapper {
						.ui-slider {
							margin-left: 0;
							height: 0.2em;
							margin-bottom: 1.6em;
							.ui-slider-range {
								background-color: $primary-color;
								border-radius: 0;
							}
							.ui-slider-handle {
								background-color: $primary-color;
								border-radius: 0;
								width: 0.3em;
								margin-left: 0;
								top: -0.4em;
							}
						}
						.price_slider_amount {
							.button {
								float: right;
								background: $primary-color;
								color: #fff;
								font-family: $primary-font;
								text-transform: uppercase;
								font-size: 12px;
								border-radius: 0;
								padding: 0.618em 1.3em;
							}
							.price_label {
								text-align: left;
								span {
									font-weight: 700;
								}
							}
						}
					}
				}
			}
			//PRODUCT ATTRIBUTE FILTER WIDGET
			&.woocommerce-widget-layered-nav {
				ul {
					li {
						span {
							display: none;
						}
					}
				}
			}
			&#woocommerce_layered_nav-2 {
				//BRAND
				ul {
					li {
						display: inline;
						border: 1px solid $primary-color;
						margin-right: 6px;
						text-transform: uppercase;
						font-size: 12px;
						&.woocommerce-widget-layered-nav-list__item {
							&:before,
							&:after {
								content: unset;
								display: unset;
							}
						}
						a {
							padding: 0.1em 0.8em 0.1em 1em;
						}
						span {
							display: none;
						}
					}
				}
			}
			//PRODUCTS WIDGET
			&.widget_products {
				ul.product_list_widget {
					li {
						a {
							img {
								float: left !important;
								margin-left: 0;
								margin-right: 10px;
								width: 70px;
								height: 70px;
							}
							span.product-title {
								top: 2px;
								position: relative;
								font-weight: normal;
							}
						}
						div.star-rating {
							top: 8px;
							width: 6em;
							&:before {
								margin-left: 10px;
							}
							> span {
								margin-left: 10px;
							}
						}
						span.woocommerce-Price-amount {
							position: relative;
							top: 15px;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

/*
	Shop Sidebar
	------------------------------------------------
*/

#ss-shop-sidebar {
	@media only screen and (max-width: 993px) {
		padding-left: 0;
	}
}

/*
	Footer Sidebar
	------------------------------------------------
*/

#ss-footer-sidebar {
	.widget-area {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 30px 0;
		@media only screen and (max-width: 996px) {
			flex-wrap: wrap;
			section.ss-widget {
				flex-basis: 80% !important;
			}
		}
		section.ss-widget {
			flex-basis: 30%;
			margin: 0 0.5vw;
			&:first-of-type {
				margin: 0 0.5vw 0 0;
			}
			&:nth-of-type(4) {
				margin: 0 0 0 0.5vw;
			}
			.ss-widget-title {
				font-size: 18px;
				padding-bottom: 0;
				margin-bottom: 28px;
				border: 0;
			}
			p {
				font-size: 13px;
			}
			ul,
			form {
				margin-left: unset;
				li {
					margin-bottom: unset;
				}
			}
			form {
				margin-top: unset;
			}
			a {
				color: #039be5;
			}
			//HTML WIDGET
			.custom-html-widget {
				.brand-container {
					height: 70px;
					.brand-logo {
						font-family: 'Dancing Script', cursive;
						font-size: 50px;
						&:hover,
						&:focus {
							color: $primary-color !important;
						}
					}
				}
			}

			//TWITTER FEED WIDGET
			.ss-twitter-feed {
				.ctf-item {
					display: flex;
					flex-direction: column-reverse;
					margin-left: 1.5rem;
					position: relative;
					overflow: visible;
					padding-top: 0;
					padding-bottom: 0;
					border-top: 0;
					&:before {
						position: absolute;
						top: 0;
						color: #efc0be;
						content: '\f099';
						font-family: 'Font Awesome 5 Brands';
						left: -1.5rem;
						font-size: 18px;
					}
					.ctf-author-box {
						margin-bottom: 0;
						.ctf-tweet-meta {
							margin-left: 0;
							.ctf-tweet-date {
								opacity: 0.3;
							}
						}
					}
					.ctf-tweet-content {
						padding-bottom: 0;
					}
				}
				br {
					display: none;
				}
			}
			//SHORTCODE WIDGET (THE NEWSLETTER PLUGIN)
			&.shortcode_widget {
				br {
					display: none;
				}
				.tnp-subscription-minimal {
					form {
						::placeholder {
							text-transform: uppercase;
						}
						.tnp-email {
							width: 100%;
							border: 1px solid #9e9e9e;
							background-color: transparent;
							margin-bottom: 15px;
						}
						.tnp-submit {
							display: block;
							width: 50%;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
